<h1>NEW GAME</h1>

<%= @letters %>
<br>
<br>
<%= "What is the longest word you can find?" %>

<form action="score">
  <input type="text" name="letters">
  <input type="submit" value="Play">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
</form>

